/******* STYLES *******/


body {
    background: linear-gradient(to right,
       black 5%, #232430 5% 95%, black 95% 100%);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
  }

.footer {
    overflow: hidden;
    background-color: #5C507F;
    height: 20px;
    margin-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

/******* HOME PAGE *******/
div.home_title {
    font-size:25px;
    font-family: 'Asul', sans-serif;
    color: #FFEC77;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.4);
    background-color: #3A3961;
    border: 1px solid #69696900;
    border-radius: 20px;
    width: 40%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:15px;
}

div.home_title p {
    color: rgb(218, 218, 218);
    text-shadow: none;
}

div.paragraphs {
    font-size:21px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(218, 218, 218);
    background-color: #303243;
    border-radius: 20px;
    width: 85%;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
}
/* Text alignment for guide pages */
div.paragraphs-g {
    font-size:21px;
    text-align:left;
    font-family: 'Quicksand', sans-serif;
    color: rgb(218, 218, 218);
    background-color: #303243;
    border-radius: 20px;
    width: 85%;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    padding-left:8px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
}
/* Add background to header for paragraph type 2 */
div.paragraphs-g h2 {
    display: inline;
    background-color: #444764;
    margin-left:3px;
    border-radius:10px;
    padding: 5px;
    padding-left:8px;
    padding-right:8px;
}

/* Add background to header for paragraph type 2 */
div.paragraphs-g h1 {
    display: inline;
    background-color: #465b86;
    margin-left:3px;
    border-radius:10px;
    padding: 5px;
    padding-left:8px;
    padding-right:8px;
}

/* basic divider for paragraphs */
.divider {
    background-color: #444764;
    height: 4px;
    width: 40%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 1em;
}


/* icon top left of nav */
div.icon {
    float: left;
    padding-left: 6px;
    padding-top: 9px;
    padding-right: 5px;
    border-right: 2px solid black;
}

/******* NAVIGATION BAR *******/
/* Navigation Bar Container */
.navbar {
    overflow: hidden;
    background-color: #5C507F;
    margin-bottom: 1em;
    border-radius: 5px;
  }
/* Links inside the Navigation Bar */
.navbar a {
    float: left;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;;
    font-weight: bold;
    color: rgb(218, 218, 218);
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}
/* Background Color changes when hovering over Nav. Links */ 
.navbar a:hover {
    color: white;
    background-color: rgb(105, 16, 16, 0.5);
    transition: 0.5s;
 }

