/******* STYLES *******/


body {
  background: linear-gradient(to right,
     black 5%, #292929 5% 95%, black 95% 100%);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
}

.footer {
    overflow: hidden;
    background-color: rgb(185, 23, 23);
    height: 20px;
    margin-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

/******* HOME PAGE *******/
div.home_title {
    font-size:35px;
    font-family: 'Asul', sans-serif;
    color: #FFEC77;
    text-shadow: 2px 2px 5px black;
    background-color: #494949;
    border: 3px solid #696969;
    border-radius: 20px;
    width: 40%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:15px;
}

div.paragraphs {
    font-size:21px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(218, 218, 218);
    background-color: #3b3b3b;
    border-radius: 20px;
    width: 85%;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
}

/* icon */
div.icon {
    float: left;
    padding-left: 6px;
    padding-top: 6px;
    padding-right: 5px;
    border-right: 2px solid black;
}

/******* NAVIGATION BAR *******/
/* Navigation Bar Container */
.navbar {
    overflow: hidden;
    background-color: rgb(185, 23, 23);
    margin-bottom: 1em;
    border-radius: 5px;
  }
/* Links inside the Navigation Bar */
.navbar a {
    float: left;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;;
    font-weight: bold;
    color: rgb(218, 218, 218);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Background Color changes when hovering over Nav. Links */ 
.navbar a:hover {
    color: white;
    background-color: rgb(105, 16, 16);
    transition: 0.5s;
 }
