<div class="navbar">
    <div class="icon">
      <img width=40px; src="https://static.drips.pw/rotmg/wiki/Enemies/Oryx%20the%20Mad%20God%201.png?dl=0">
    </div>
    <a href="../index.html">Home</a>
    <a href="../pages/general information">General Information</a>
    <a href="../pages/new player guide.html">New Player Guide</a>
    <a href="../pages/classes.html">Classes</a>
    <a href="../pages/pets.html">Pets</a>
    <a href="../pages/dungeons.html"=>Dungeons</a>
    <a href="../pages/godlands.html">Godlands</a>

</div>
