<div class="navbar">
    <div class="icon">
      <img width=40px; src="https://static.drips.pw/rotmg/wiki/Enemies/Oryx%20the%20Mad%20God%201.png?dl=0">
    </div>
    <a href="index.html">Home</a>
    <a href="pages/general information">General Information</a>
    <a href="pages/new player guide.html">New Player Guide</a>
    <div class="dropdown">
      <button class="dropbtn">
          <a href="pages/classes.html">Classes</a>
      </button>
      <div class="dropdown-content">
        <div class="dropdown-content-col1">
          <li><a href="#">Rogue</a></li>
          <li><a href="#">Archer</a></li>
          <li>><a href="#">Wizard</a></li>
          <li><a href="#">Priest</a></li>
          <li><a href="#">Warrior</a></li>
        </div>

        <div class="dropdown-content-col1">
          <li>><a href="#">Knight</a></li>
          <li><a href="#">Paladin</a></li>
          <li><a href="#">Assassin</a></li>
          <li><a href="#">Necromancer</a></li>
          <li><a href="#">Huntress</a></li>
        </div>

        <div class="dropdown-content-col1">
          <li>><a href="#">Mystic</a></li>
          <li><a href="#">Trickster</a></li>
          <li><a href="#">Sorcerer</a></li>
          <li><a href="#">Ninja</a></li>
          <li><a href="#">Samurai</a></li>
        </div>

        <div class="dropdown-content-col1">
          <li>><a href="#">Bard</a></li>
          <li><a href="#">Summoner</a></li>
        </div>

      </div>
    </div>
  </div>

  </html>
